<div class="toppage">
      <ul = "nav">
        <li class = "sin"><%= link_to 'sw',root_path %>sw</a></li>
        <li class = "toukou"><%= link_to '投稿する',new_tuitum_path %>投稿する</a></li>
        <li class = "naiyou"><%= link_to '内容をみる',tuita_path %>内容をみる</a></li>
      </ul>
</div>

<body id = "top" >
<h1>内容を編集する</h1>
<%= render 'form', tuitum: @tuitum %>
</body>

