<div class="toppage">
      <ul = "nav">
        <li class = "sin"><%= link_to '＄w',root_path %>sw</a></li>
        <li class = "toukou"><%= link_to '＄wする',new_tuitum_path %>投稿する</a></li>
        <li class = "naiyou"><%= link_to '＄wをみる',tuita_path %>内容をみる</a></li>
      </ul>
</div>

<body id = "top" >
<%= render 'form', tuitum: @tuitum %>
<footer id = "footer">
        <center><p>運営会社川田株式会社</p><center>
        <center><p>© 2018　かわだ </p><center>
    </footer>
</body>





