<div class="toppage">
      <ul = "nav">
        <li class = "sin"><%= link_to '＄w',root_path %>sw</a></li>
        <li class = "toukou"><%= link_to '＄wする',new_tuitum_path %>投稿する</a></li>
        <li class = "naiyou"><%= link_to '＄wをみる',tuita_path %>内容をみる</a></li>
      </ul>
</div>

<body id = "top" >

<div class="background">
<h1 class ="s">＄</h1>
<h1 class = "w">w</h1>
<h1 class = "sw">＄wとは</h1>
  <p class = "description">140文字以内の短い投稿(＄w)<br>を入力して、<br>みんなで共有するサービス<br>$wの語源は<br>しんやわたなべ</p>
</div>
 <footer id = "footer">
        <center><p>運営会社＄w社</p><center>
        <center><p>© 2018　＄w </p><center>
    </footer>
 </body>
 