/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

.mokume {
background-image: url('mo.jpg')

}

.background{
    background-image: url("mo.jpg");
    width:100%;
    color:white;
    background-size: cover;
    
}



.toppage {
    background:white;
}
#top{
     background-image: url("mo.jpg");
    width:100%;
    color:white;
    background-size: cover;
     position: fixed;
}

.sign {
    color:black;
    text-align: center
}


.favorite {
    font-size:30px;
    text-align:center;
}

.favorite_content {
    font-size:20px;
    text-align:center;
}


.sin {
    font-size:80px;
    margin-left:20px;
    margin-top:-14px;
    
}

.nav1 {
    font-size:30px;
    margin-left:200px;
    margin-top:-65px;
}

.nav2 {
     font-size:30px;
    margin-left:450px;
    margin-top:-42px;
}

.nav3 {
    font-size:30px;
    margin-left:700px;
    margin-top:-40px;
}

.nav4 {
    font-size:30px;
    margin-left:950px;
    margin-top:-42px;
}




footer#footer {
  width: 100%;
  background-color:#2c3e50;
  color: white;
  margin:0px;
  padding-bottom: 10px;
  font-size: 12px;
  position: fixed;
  bottom: 0;
}

footer#index_footer {
     width: 100%;
  background-color:#2c3e50;
  color: white;
  margin:0px;
  padding-bottom: 10px;
  font-size: 12px;
  bottom: 0;
}

.index_footer {
  width: 100%;
  background-color:#2c3e50;
  color: white;
  margin:0px;
  padding-bottom: 10px;
  font-size: 12px;
  bottom: 0;
}

.s {
 font-size:400px;
 margin-left:50px;
 margin-bottom:60px;
 color:#b8860b;
}

.w {
    font-size:400px;
    margin-left:300px;
    margin-top: -300px
}


.sw {
    font-size:70px;
    margin-top:-600px;
    margin-left:700px;
    margin-bottom:70px
}
.description {
    font-size:40px;
    margin-left:700px;
}

.tuitum_title {
    color:black;
    font-size: 18px;
    text-align: center
}

.tuitum_image {
   margin-left:670px;
}

.image_new{
    margin-top:50px
}
.ren {
    font-size:20px;
    text-align:center;
    margin-bottom:10px;
}

.rend {
    font-size:20px;
    text-align:center;
}

.botan {
     text-align:center;
}

.list {
     text-align:center;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.input {
    text-wrap:break-word;
}

label{
    color:white;
}