<!DOCTYPE html>
<html>
  <head>
    <title>Sw</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class="background">
      <%= yield %>
    </div>
    <footer id = "footer">
        <center><p>運営会社川田株式会社</p><center>
        <center><p>© 2018　かわだ </p><center>
    </footer>
  </body>
</html>


